{% extends 'base/base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form-signin mt-5" method="post" role="form" id="">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="ml-2 mr-2">
            <h1 class=" tittle-sesion text-justify">Inicia Sesión</h1>
            <label class="float-left text-justify">Como administrador podras ver los resultados obtenidos en las
                encuestras</label>
            <label class="float-left mt-3">Usuario</label>
            {{ form.username.error }}
            {{ form.username }}
            <label class="float-left mt-3">Contraseña</label>
            {{ form.password.error }}
            {{ form.password }}
            <button class="btn btn-lg btn-primary btn-block mb-4 mt-5 btn-login" type="submit">Ingresar</button>
        </div>
    </form>
{% endblock %}